body {
    background-color: #aaa;
    font-family: "Open Sans", sans-serif;
    margin: 0px;
    padding: 0px;
}

.header-panel {
    padding: 5px;
    background-color: brown;
    color: #fff;
    #min-height: 10vh;
}

.sub-heading {
    color: #f0f0f5;
}

.logo-area {
    display: inline-block;
    margin-left: 2px;
    margin-bottom: 5px;
}

.logo-title {
    padding-top: 6px;
    float: right;
    font-size: 1.1em;
}

.item-noselect {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.empty-line {
    margin-bottom: 5px;
}

.item-selectable:hover {
    background-color: #555;
}

.side-menu {
    float: left;
    position: relative;
    padding-top: 20px;
    background-color: #444;
    color: #eee;
    min-height: 100vh;
    height: auto !important;
}

.side-menu .btn:hover {
    color: #ccc;
}

.side-menu-area ul {
    padding-left: 0px;
}

.side-menu {
    list-style-type: none;
    vertical-align: top;
}

.side-menu ul {
    display: inline;
    list-style-type: none;
    padding-left: 0;
}

.side-menu li {
    line-height: 4em;
    cursor: pointer;
}

.side-menu li div {
    display: inline-block;
    width: 90%;
    padding-left: 16px;
    font-size: 1.1em;
}

.side-menu-icon {
    margin-right: 10px;
    margin-left: 3px;
}

.side-menu-active-indicator {
    float: right;
    color: #ddd;
    margin-right: 0px;
    margin-top: 20px;
}

.bsa-widget {
    height: 47vh;
    width: 100%;
    min-height: 180px;
    color: black;
    background-color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 0.8em;
    
}

.bsa-widget-header {
    background-color: brown;
    color: white;
    height: 32px;
    line-height: 32px;
}

.bsa-widget-icon {
    padding: 5px;
    margin-top: -2px;
}

.bsa-widget-body {
    position: relative;
    padding: 10px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
}

.align-right {
    float: right;
}

.center {
    text-align: center;
}

.icon {
    margin-left: 3px;
    margin-right: 3px;
}

.statement-upload {
    background-color: aquamarine;
}

.statement-details {
    background-color: antiquewhite;
}

.expence-distro-category {
    background-color: red;
}

.expence-distro-vendor {
    background-color: orange;
}

.box {
    border-style: dashed;
    border-width: thin;
}